:root {
  --app-bar-height: 60px;
  --app-bar-background-color: var(--top-bar-color);
}

.vc-app-bar {
  display: flex;
  width: 100%;
  height: var(--app-bar-height);
  background: var(--app-bar-background-color);
  align-items: center;
  color: white;

  &__content {
    flex-grow: 1;
  }

  &__right {
    width: 325px;
  }
}
