:root {
  --vc-blade-border-color: #e7ebf1;

  --vc-blade-topbar-height: 30px;
  --vc-blade-topbar-background-color: #34414f;
  --vc-blade-topbar-button-color: #ffffff;
  --vc-blade-topbar-button-disabled-color: #727c87;

  --vc-blade-header-height: 48px;
  --vc-blade-header-background-color: #465769;
  --vc-blade-header-icon-color: #ffffff;
  --vc-blade-header-title-color: #ffffff;
  --vc-blade-header-subtitle-color: #bbbbbb;

  --vc-blade-toolbar-height: 48px;
  --vc-blade-toolbar-background-color: #465769;
  --vc-blade-toolbar-item-color: #ffffff;
  --vc-blade-toolbar-item-hover-background-color: #2e3d4e;
  --vc-blade-toolbar-item-disabled-color: #727c87;
}

.vc-blade {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--vc-blade-border-color);
  background: #ffffff;

  &_expanded {
    width: 100% !important;
  }

  &__topbar {
    height: var(--vc-blade-topbar-height);
    background-color: var(--vc-blade-topbar-background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-button {
      color: var(--vc-blade-topbar-button-color);
      margin-right: 16px;
      cursor: pointer;

      &_disabled {
        color: var(--vc-blade-topbar-button-disabled-color);
        cursor: not-allowed;
      }
    }
  }

  &__header {
    height: var(--vc-blade-header-height);
    background-color: var(--vc-blade-header-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;

    &-icon {
      color: var(--vc-blade-header-icon-color);
      margin-right: 13px;
    }

    &-title {
      color: var(--vc-blade-header-title-color);
      font-size: var(--font-size-m);

      &_only {
        font-size: var(--font-size-xl);
      }
    }

    &-subtitle {
      color: var(--vc-blade-header-subtitle-color);
      font-size: var(--font-size-xs);
    }
  }

  &__toolbar {
    height: var(--vc-blade-toolbar-height);
    background-color: var(--vc-blade-toolbar-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 8px;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      color: var(--vc-blade-toolbar-item-color);
      box-sizing: border-box;
      cursor: pointer;

      &-title {
        font-size: var(--font-size-s);
        white-space: nowrap;
        margin-top: 4px;
      }

      &:hover {
        background-color: var(--vc-blade-toolbar-item-hover-background-color);
      }

      &_disabled {
        color: var(--vc-blade-toolbar-item-disabled-color);
        cursor: default;

        &:hover {
          background-color: var(--vc-blade-toolbar-background-color);
        }
      }
    }
  }

  &__breadcrumbs {
    height: 55px;
    padding: 0 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &-item {
      height: 28px;
      box-sizing: border-box;
      border-radius: 14px;
      border: 1px solid #a1c0d4;
      color: #43b0e6;
      white-space: nowrap;
      padding: 0 14px;
      display: flex;
      align-items: center;
      margin-right: 6px;
      font-size: var(--font-size-s);
      cursor: pointer;

      &:hover {
        border: 1px solid #8fb0c6;
      }

      &-icon {
        margin-right: 6px;
        color: #a1c0d4;
      }

      &_disabled {
        opacity: 0.4;
      }

      &_current {
        color: #465769;
        border: 1px solid #838d9a;
        cursor: default;

        &:hover {
          border: 1px solid #838d9a;
        }
      }
    }
  }
}
