/**
 * Global style pack
 */
@import "~assets/fonts/FontAwesome/css/all";

@import "./common/fonts";
@import "./common/spaces";

@import "./themes/_basic";
@import "./themes/light";
@import "./themes/dark";

@import "./components/Layout";
@import "./components/Blade";
@import "./components/Breadcrumbs";
@import "./components/Button";
@import "./components/Container";
@import "./components/Checkbox";
@import "./components/Drawer";
@import "./components/DrawerToggler";
@import "./components/DrawerItem";
@import "./components/Link";
@import "./components/Icon";
@import "./components/Input";
@import "./components/Table";
@import "./components/Spacer";

html,
body,
#__nuxt,
#__layout {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  font-size: var(--font-size-m);
}
